*, *::before, *::after{
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

html, body{
  height: 100%;
}

h1{
  font-size: var(--mobile--title--size);
  color: var(--main--color);
}

h2{
  color: var(--main--color);
  font-size: var(--mobile--h2--size);
  font-weight: 500;
}

a{
  font-size: var(--mobile--a--size);
  text-decoration: none;
}

p{
  font-size: var(--mobile--text--size);
  color: var(--main--text--color);
  font-weight: 400;
  line-height: 1.4;
}

.welcome--screen{
  display: flex;
  align-items: center;
  align-items: center;
  height: 100vh;
}

.welcome--content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 20rem;
}

.intro--content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 25rem;
  text-align: justify;
}

.button-blue{
  background-color: var(--main--color);
  padding: 1.2rem 4rem 1.2rem 4rem;
  color: white;
  border-radius: 0.15rem;
  box-shadow: var(--button--box--shadow);
}


.button-grey{

  color: var(--main--grey--color);
  opacity: 0.8;
}

main{
  width: 85%;
  margin: auto;
}

.header{
  margin-top: var(--mobile--padding--top);
}

.title--section{
  padding-top: var(--mobile--padding--top);
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.dashboard--content{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: black;
}

.dashboard--item{
  width: 100%;
  height: 40rem;
}

.flancer__card{
  box-shadow: var(--box--shadow);
}
