:root{
    /* colors */
    --main--color: #0057FF;
    --main--hover: rgb(83, 141, 255);
    --main--grey--color: #888888;
    --main--text--color: #787878;

    --font--title--size: 1.8rem;
    --font--h2--size: 1.6rem;
    --font--a--size: 1.2rem;
    --font--text--size: 1.2rem;

    --margin--top: 2rem;

    --padding--top: 4rem;

    --box--shadow: 0px 0px 25px rgba(0,87,255,0.55);
}
