:root{
    /* colors */
    --main--color: #0057FF;
    --main--grey--color: #888888;
    --main--text--color: #787878;

    /* mobile fonts size */
    --mobile--font--size: 1.6rem;
    --mobile--title--size: 2.4em;
    --mobile--h2--size: 1.4em;
    --mobile--a--size: 1.8em;
    --mobile--text--size: 1.6em;


    /* ipad fonts size */
    --mobile--font--size: 1.6rem;
    --mobile--title--size: 2.4em;
    --mobile--h2--size: 1.4em;
    --mobile--a--size: 1.8em;
    --mobile--text--size: 1.6em;

    /* laptop fonts size */
    --mobile--font--size: 1.4rem;
    --mobile--title--size: 2.2em;
    --mobile--h2--size: 1.4em;
    --mobile--a--size: 1.6em;
    --mobile--text--size: 1.4em;



    --mobile--margin--top: 2rem;

    --mobile--padding--top: 4rem;

    --button--box--shadow: 0px 0px 25px rgba(0,87,255,0.55);
    --box--shadow: 0px 0px 10px rgba(0,0,0,0.10);
}
